model_list:
  - model_name: claude-opus-4-5
    litellm_params:
      model: anthropic/claude-opus-4-5-20251101
      api_base: os.environ/CLIPROXYAPI_BASE_URL
      api_key: os.environ/CLIPROXYAPI_KEY
      weight: 2
      order: 2
      max_budget: 10 # (USD)
      budget_duration: 1d
  - model_name: claude-sonnet-4-5
    litellm_params:
      model: anthropic/claude-sonnet-4-5-20250929
      api_base: os.environ/CLIPROXYAPI_BASE_URL
      api_key: os.environ/CLIPROXYAPI_KEY
      weight: 2
      order: 2
      max_budget: 10 # (USD)
      budget_duration: 1d
  - model_name: claude-opus-4-5
    litellm_params:
      model: anthropic/gemini-claude-opus-4-5-thinking
      api_base: os.environ/CLIPROXYAPI_BASE_URL
      api_key: os.environ/CLIPROXYAPI_KEY
      weight: 7
      order: 1
      max_budget: 1000 # (USD)
      budget_duration: 5h
  - model_name: claude-sonnet-4-5
    litellm_params:
      model: anthropic/gemini-claude-sonnet-4-5
      api_base: os.environ/CLIPROXYAPI_BASE_URL
      api_key: os.environ/CLIPROXYAPI_KEY
      weight: 7
      order: 1
      max_budget: 1000 # (USD)
      budget_duration: 5h

litellm_settings:
  drop_params: True
  success_callback: ["langfuse"]
  check_provider_endpoint: true
  turn_off_message_logging: False
  redact_user_api_key_info: true
  cache: False
  enable_caching_on_provider_specific_optional_params: True
  cache_params:
    type: disk
    disk_cache_dir: .litellm_cache

router_settings:
  enable_pre_call_checks: true
  allowed_fails: 3
  cooldown_time: 30
  timeout: 300
  stream_timeout: 180

general_settings:
  alerting: ["slack"]
  store_model_in_db: true
  store_prompts_in_spend_logs: true
